@model LAB9.Models.ViewModel.ProblemVm

@{
    ViewData["Title"] = "Про програму";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
</head>
<body>
<h2>@ViewData["Title"]</h2>
<p>Курсова робота, курс Системи баз даних. Виконала студентка групи ІС-62, Стрільцова Аліна</p>


@if (Model.Problems.Length == 0)
{
     <p> No Problem in DB</p>
}
else
{
<table id="problems" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Status</th>
        </tr>
        @foreach ( var problem in Model.Problems)
        {
            <tr>
                <td>
                    @{var link = "info/"+problem.Id;}
                    <a href=@link>@problem.Id</a>
                </td>
                <td>
                    @problem.Status
                </td>
            </tr>
        }
    </thead>
    <tbody>
    </tbody>
</table>
}
</body>


