@model IEnumerable<KR.Models.Database.ProblemType>

    @{
    ViewData["Title"] = "Про програму";
    }
    <!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
    </head>

    <body>
        <p>
            <h3> Варіант 19.</h3>
            <h4> Тестування програмного продукту</h4>
            У процесі супроводу системи класу ERP у користувачів різних клієнтів виникають зауваження до системи, які
            можуть мати характер повідомлення про помилку (зауваження) або побажання (вимоги) додаткової
            функціональності (доробка).<br>
            Технічний директор фірми-розробника розглядає кожне зауваження і направляє його одному з тестувальників.
            Тестувальник перевіряє наявність проблеми, викладеної в зауваженні, і направляє зауваження одному з
            програмістів. Програміст виправляє зауваження і повідомляє про це тестувальника. Тестувальник перевіряє
            усунення проблеми і, якщо це так, повідомляє всіх про це і включає виправлений код у поточну версію; в
            іншому разі надсилає нове зауваження програмісту.<br>
            В разі необхідності доробки технічний директор формулює постановку задачі і після обговорення її з одним з
            програмістів направляє її програмісту, а також одному з тестувальників. Далі все відбувається як у
            попередньому процесі: по завершенню розробки тестувальник перевіряє нову функціональність і повідомляє про
            неї.<br>
            Раз на місяць технічний директор створює наступну версію продукту і повідомляє клієнтів про зміни в ньому у
            формі звіту по виправлених зауваженнях і виконаних доробках.<br>
            <i> Курсову роботу підготувала студентка гр. ІС-62, Стрільцова Аліна.</i>
        </p>
        <h2>Проблеми програмного продукту</h2>



        <p>
            Оберіть тип проблеми
        </p>
        @foreach ( var type in Model)
        {
        var link = "/"+type.Id;
        <a href="@link">

            <button type="button" class="btn  btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                @type.Name
            </button>
        </a>
        }

    </body>