@model KR.Models.ViewModel.MessageVm[]

@{
    ViewData["Title"] = "Про програму";
}
<!DOCTYPE html>
<head>
</head>
<body>
<h2>@ViewData["Title"]</h2>
<p>Курсова робота, курс Системи баз даних. Виконала студентка групи ІС-62, Стрільцова Аліна</p>



<table id="messages" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Message</th>
            <th>Sender</th>
            <th>Date</th>
        </tr>
        @foreach ( var message in Model)
        {
            <tr>
                <td>
                    @message.Text
                </td>
                <td>
                    @{var link = "info/"+message.Sender;}

                    @message.Sender
                </td>
                <td>
                    @message.Date
                </td>
            </tr>
        }
    </thead>
    <tbody>
    </tbody>
</table>
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="~/problem"><span aria-hidden="true">&larr;</span> Назад</a></li>
  </ul>
</nav>
</body>


