@model IEnumerable<KR.Models.ViewModel.SenderVm>

    @{
    ViewData["Title"] = "Тестування ПЗ";
    }
    <!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>

        <h2>Відправники</h2>
        <p>
            <a href="~/">
                <button type="button" class="btn btn-info" style=" right:12rem;">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </button>
            </a>
        </p>
        <p>
            <table id="senders" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Повне ім'я</th>
                        <th>Посада</th>
                        <th>Кількість коментарів</th>
                    </tr>
                    @foreach ( var sender in Model)
                    {
                    <tr>
                        <td>
                            @sender.FullName
                        </td>
                        <td>
                            @sender.Position
                        </td>
                        <td>
                            @sender.CommentCount
                        </td>
                    </tr>
                    }
                </thead>
                <tbody>
                </tbody>
            </table>
        </p>
    </body>